
.Symptomes{
    padding: 40px 0;
    text-align: center;
    h1{
        color: $bleu;
        font-size: 3vw;
    }

    .Symptomes_section{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        div{
            padding: 0 5vw;
            @media (max-width:600px) {
                padding: 0 ;
               
             } 
        }

        p{
            font-weight: bold;
            color:$bleu ;
        }
        
        img{
            padding: 0;
        }
    }
}