.Informations{
    background-color: $bleu2 ;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    text-align: center;
    @media (max-width:600px) {
       display: block;
       
     } 
  

    .Informations_link  ,.Informations_button {
        padding: 20px 20px;
        background-color:$bleu;
       
        border-radius: 5px;
        margin: auto;
        @media (max-width:600px) {
           width: 36% ;
           min-width: 200px;
           margin-bottom: 20px;
           
         } 

        a{
            color: $white;
        }
    }
    .Informations_text{
        color:$bleu ;
        font-size: 2vw;
        line-height: 40px;
        margin: auto;
    }


}